
{% include 'modules/custom/ucdashboard/templates/includes/breadcrumb.html.twig' %}

<h2>Thank you for your submission</h2>

<p>Dear contributor, <br />
  Thank you for entering your data to the UserCentriCities Benchmarking 
  Dashboard. We are delighted that you have become part of our combined 
  efforts to track the progress of user-centricity in European cities and 
  regions. </p>

<p>You can visit your page again and edit your data by clicking on the “edit” 
  button and then on “save.” </p>

<p>If you have any questions or need assistance, please contact Chrysoula Mitta, 
  associate director at the Lisbon Council at 
  <a href="mailto:usercentricities@lisboncouncil.net">usercentricities@lisboncouncil.net</a>.
</p>

<p class="mb-5">&nbsp;</p>